body {
    background-color: #F2F3F5;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.profile {
    border: 1px solid #000;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-right: 24px;
}

.profileImgContainer {
    display: flex;
    flex: 2;
    border: 2px solid #0F3C53;
    border-radius: 50%;
    background-color: #fff;
}

.profileImgContainer img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 2px;
}

.description {
    text-align: center;
}

.post {
    flex: 2;
}

.avisos {
    flex: 1;
    margin-right: 24px;
}